body{
	margin: 0px;
	font-family: Arial;
	--main_color: #FF3333;
	--top-text-color: white;
	background-color: #F4F6F6;
}

.top_{
	height: 45px;
	line-height: 45px;
	width: 100%;
	background-color: var(--main_color);
	text-align: center;
	vertical-align: middle;
}

h1{
	font-size: 20px;
	color: var(--top-text-color);
	font-family: Verdana;
	margin: 0px;
}
